In [1]:
import pandas as pd
import numpy as np
import matplotlib

In [2]:
df = pd.read_csv('./databases/VALE3 Historical Data.csv')

In [3]:
df.head()

         Date  Price   Open   High    Low    Vol. Change %
0  03/26/2020  31.37  30.64  31.68  29.87  35.39M    2.79%
1  03/25/2020  30.52  28.53  30.89  28.45  37.93M    8.53%
2  03/24/2020  28.12  27.54  28.87  27.54  36.95M   10.40%
3  03/23/2020  25.47  26.56  26.79  24.93  41.74M   -3.12%
4  03/20/2020  26.29  28.31  29.44  25.93  50.20M   -3.31%

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      5000 non-null   object
 1   Price     5000 non-null   float64
 2   Open      5000 non-null   float64
 3   High      5000 non-null   float64
 4   Low       5000 non-null   float64
 5   Vol.      4999 non-null   object
 6   Change %  5000 non-null   object
dtypes: float64(4), object(3)
memory usage: 273.6+ KB

In [5]:
df['Date'] = pd.to_datetime(df['Date'])
df.sort_values(by='Date')

           Date  Price   Open   High    Low     Vol. Change %
4999 2000-01-03   1.64   1.64   1.66   1.64  439.24K    0.00%
4998 2000-01-04   1.60   1.62   1.63   1.60  586.80K   -2.44%
4997 2000-01-05   1.60   1.58   1.60   1.58    1.41M    0.00%
4996 2000-01-06   1.60   1.60   1.64   1.60  599.36K    0.00%
4995 2000-01-07   1.66   1.62   1.67   1.62    4.02M    3.75%
...         ...    ...    ...    ...    ...      ...      ...
4    2020-03-20  26.29  28.31  29.44  25.93   50.20M   -3.31%
3    2020-03-23  25.47  26.56  26.79  24.93   41.74M   -3.12%
2    2020-03-24  28.12  27.54  28.87  27.54   36.95M   10.40%
1    2020-03-25  30.52  28.53  30.89  28.45   37.93M    8.53%
0    2020-03-26  31.37  30.64  31.68  29.87   35.39M    2.79%

[5000 rows x 7 columns]

In [6]:
df['Price-1'] = df['Price'].shift()
df['High-1'] = df['High'].shift()
df['Low-1'] = df['Low'].shift()
df['Open-1'] = df['Open'].shift()
df = df.drop(0)

In [7]:
df = df.drop(['Vol.', 'Change %'], axis=1)

In [8]:
df.head()

        Date  Price   Open   High    Low  Price-1  High-1  Low-1  Open-1
1 2020-03-25  30.52  28.53  30.89  28.45    31.37   31.68  29.87   30.64
2 2020-03-24  28.12  27.54  28.87  27.54    30.52   30.89  28.45   28.53
3 2020-03-23  25.47  26.56  26.79  24.93    28.12   28.87  27.54   27.54
4 2020-03-20  26.29  28.31  29.44  25.93    25.47   26.79  24.93   26.56
5 2020-03-19  27.19  28.01  29.13  26.34    26.29   29.44  25.93   28.31

In [9]:
df.tail()

           Date  Price  Open  High   Low  Price-1  High-1  Low-1  Open-1
4995 2000-01-07   1.66  1.62  1.67  1.62     1.80    1.80   1.76    1.76
4996 2000-01-06   1.60  1.60  1.64  1.60     1.66    1.67   1.62    1.62
4997 2000-01-05   1.60  1.58  1.60  1.58     1.60    1.64   1.60    1.60
4998 2000-01-04   1.60  1.62  1.63  1.60     1.60    1.60   1.58    1.58
4999 2000-01-03   1.64  1.64  1.66  1.64     1.60    1.63   1.60    1.62

In [10]:
#The Eight-Trigram

df['bullishHorn'] = df.apply(lambda x: 1 if ((x['High'] > x['High-1']) &
                                                 (x['Low'] < x['Low-1']) &
                                                 (x['Price'] > x['Price-1'])) 
                                            else 0, axis=1)

df['bearHorn'] = df.apply(lambda x: 1 if ((x['High'] > x['High-1']) &
                                                 (x['Low'] < x['Low-1']) &
                                                 (x['Price'] < x['Price-1'])) 
                                            else 0, axis=1)

df['bullishHigh'] = df.apply(lambda x: 1 if ((x['High'] > x['High-1']) &
                                                 (x['Low'] > x['Low-1']) &
                                                 (x['Price'] > x['Price-1'])) 
                                            else 0, axis=1)

df['bearHigh'] = df.apply(lambda x: 1 if ((x['High'] > x['High-1']) &
                                                 (x['Low'] > x['Low-1']) &
                                                 (x['Price'] < x['Price-1'])) 
                                            else 0, axis=1)

df['bullishLow'] = df.apply(lambda x: 1 if ((x['High'] < x['High-1']) &
                                                 (x['Low'] < x['Low-1']) &
                                                 (x['Price'] > x['Price-1'])) 
                                            else 0, axis=1)

df['bearLow'] = df.apply(lambda x: 1 if ((x['High'] < x['High-1']) &
                                                 (x['Low'] < x['Low-1']) &
                                                 (x['Price'] < x['Price-1'])) 
                                            else 0, axis=1)

df['bullishHarami'] = df.apply(lambda x: 1 if ((x['High'] < x['High-1']) &
                                                 (x['Low'] > x['Low-1']) &
                                                 (x['Price'] > x['Price-1'])) 
                                            else 0, axis=1)

df['bearHarami'] = df.apply(lambda x: 1 if ((x['High'] < x['High-1']) &
                                                 (x['Low'] > x['Low-1']) &
                                                 (x['Price'] < x['Price-1'])) 
                                            else 0, axis=1)

In [11]:
df.head()

,Date,Price,Open,High,Low,Price-1,High-1,Low-1,Open-1,bullishHorn,bearHorn,bullishHigh,bearHigh,bullishLow,bearLow,bullishHarami,bearHarami
1,2020-03-25,30.52,28.53,30.89,28.45,31.37,31.68,29.87,30.64,0,0,0,0,0,1,0,0
2,2020-03-24,28.12,27.54,28.87,27.54,30.52,30.89,28.45,28.53,0,0,0,0,0,1,0,0
3,2020-03-23,25.47,26.56,26.79,24.93,28.12,28.87,27.54,27.54,0,0,0,0,0,1,0,0
4,2020-03-20,26.29,28.31,29.44,25.93,25.47,26.79,24.93,26.56,0,0,1,0,0,0,0,0
5,2020-03-19,27.19,28.01,29.13,26.34,26.29,29.44,25.93,28.31,0,0,0,0,0,0,1,0

In [12]:
df['EMA8'] = df['Price'].ewm(span=8, adjust=False).mean()
df['EMA24'] = df['Price'].ewm(span=24, adjust=False).mean()
df['EMA48'] = df['Price'].ewm(span=48, adjust=False).mean()

In [13]:
#Boolean Markers

#EMAs
df['is_EMA8_above_EMA24'] = df.apply(lambda x:1 if x['EMA8'] > x['EMA24'] else 0, axis=1)
df['is_EMA8_above_EMA48'] = df.apply(lambda x:1 if x['EMA8'] > x['EMA48'] else 0, axis=1)
df['is_EMA24_above_EMA48'] = df.apply(lambda x:1 if x['EMA24'] > x['EMA48'] else 0, axis=1)

#Price
df['is_price_above_EMA8'] = df.apply(lambda x:1 if x['Price'] > x['EMA8'] else 0, axis=1)
df['is_price_above_EMA24'] = df.apply(lambda x:1 if x['Price'] > x['EMA24'] else 0, axis=1)
df['is_price_above_EMA48'] = df.apply(lambda x:1 if x['Price'] > x['EMA48'] else 0, axis=1)

#Distance Price/EMA Percent

df['%Distance_price_EMA8'] = abs((df['Price'] - df['EMA8']) * 100 / (df['EMA8']))
df['%Distance_price_EMA24'] = abs((df['Price'] - df['EMA24']) * 100 / (df['EMA24']))
df['%Distance_price_EMA48'] = abs((df['Price'] - df['EMA48']) * 100 / (df['EMA48']))

#Difference EMA-price

df['Dif_price_EMA8'] = df['Price'] - df['EMA8']
df['Dif_price_EMA24'] = df['Price'] - df['EMA24']
df['Dif_price_EMA48'] = df['Price'] - df['EMA48']

In [14]:
df.head()

,Date,Price,Open,High,Low,Price-1,High-1,Low-1,Open-1,bullishHorn,...,is_EMA24_above_EMA48,is_price_above_EMA8,is_price_above_EMA24,is_price_above_EMA48,%Distance_price_EMA8,%Distance_price_EMA24,%Distance_price_EMA48,Dif_price_EMA8,Dif_price_EMA24,Dif_price_EMA48
1,2020-03-25,30.52,28.53,30.89,28.45,31.37,31.68,29.87,30.64,0,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2020-03-24,28.12,27.54,28.87,27.54,30.52,30.89,28.45,28.53,0,...,0,0,0,0,6.224989,7.280401,7.567016,-1.866667,-2.208000,-2.302041
3,2020-03-23,25.47,26.56,26.79,24.93,28.12,28.87,27.54,27.54,0,...,0,0,0,0,12.120786,14.928041,15.717835,-3.512963,-4.469360,-4.749917
4,2020-03-20,26.29,28.31,29.44,25.93,25.47,26.79,24.93,26.56,0,...,0,0,0,0,7.379115,11.324467,12.540163,-2.094527,-3.357411,-3.769512
5,2020-03-19,27.19,28.01,29.13,26.34,26.29,29.44,25.93,28.31,0,...,0,0,0,0,3.304079,7.676589,9.192283,-0.929076,-2.260818,-2.752389

In [15]:
df['target'] = df.apply(lambda x: 1 if (x['High'] >= x['Open']*1.01) else 0, axis=1)

In [16]:
df['target'].value_counts()

1    2673
0    2326
Name: target, dtype: int64

In [17]:
df1 = df[['bullishHorn', 'bearHorn', 'bullishHigh', 'bearHigh',
       'bullishLow', 'bearLow', 'bullishHarami', 'bearHarami', 'is_EMA8_above_EMA24', 'is_EMA8_above_EMA48',
       'is_EMA24_above_EMA48', 'is_price_above_EMA8', 'is_price_above_EMA24',
       'is_price_above_EMA48', '%Distance_price_EMA8', '%Distance_price_EMA24',
       '%Distance_price_EMA48', 'Dif_price_EMA8', 'Dif_price_EMA24',
       'Dif_price_EMA48', 'target']].copy()

In [18]:
df1.head()

,bullishHorn,bearHorn,bullishHigh,bearHigh,bullishLow,bearLow,bullishHarami,bearHarami,is_EMA8_above_EMA24,is_EMA8_above_EMA48,...,is_price_above_EMA8,is_price_above_EMA24,is_price_above_EMA48,%Distance_price_EMA8,%Distance_price_EMA24,%Distance_price_EMA48,Dif_price_EMA8,Dif_price_EMA24,Dif_price_EMA48,target
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,6.224989,7.280401,7.567016,-1.866667,-2.208000,-2.302041,1
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,12.120786,14.928041,15.717835,-3.512963,-4.469360,-4.749917,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,7.379115,11.324467,12.540163,-2.094527,-3.357411,-3.769512,1
5,0,0,0,0,0,0,1,0,0,0,...,0,0,0,3.304079,7.676589,9.192283,-0.929076,-2.260818,-2.752389,1

In [19]:
df1.to_csv('./curated_vale.csv')