In [1]:
import pandas as pd
import numpy as np

In [2]:
path_data = './label_up.csv'
path_data1 = './label_down.csv'

In [9]:
up = pd.read_csv(path_data).drop('Unnamed: 0',axis=1)
down = pd.read_csv(path_data1).drop('Unnamed: 0',axis=1)

In [12]:
up.head(3)

   target_up  Label   Score
0          0      0  0.8588
1          0      0  0.7037
2          0      0  0.8447

In [13]:
down.head(3)

   target_down  Label   Score
0            0      0  0.6776
1            1      1  0.6606
2            0      0  0.6693

In [16]:
join = up.copy()
join['target_down'] = down['target_down']
join['Label_down'] = down['Label']
join['Score'] = down['Score']

In [20]:
join

     target_up  Label   Score  target_down  Label_down
0            0      0  0.6776            0           0
1            0      0  0.6606            1           1
2            0      0  0.6693            0           0
3            0      0  0.6693            0           0
4            0      0  0.6606            1           1
..         ...    ...     ...          ...         ...
268          1      0  0.6222            1           1
269          1      0  0.7883            1           0
270          0      0  0.7883            1           0
271          0      0  0.8690            0           0
272          0      0  0.6776            0           0

[273 rows x 5 columns]

In [22]:
join['is_entry'] = join.apply(lambda x: 1 if ((x['Label'] == 1) &
                                            (x['Label_down'] == 1)) else 0, axis=1)

join['is_green'] = join.apply(lambda x: 1 if ((x['target_up'] == 1) &
                                            (x['target_down'] == 1)) else 0, axis=1)

In [31]:
join.loc[0]

target_up      0.0000
Label          0.0000
Score          0.6776
target_down    0.0000
Label_down     0.0000
is_entry       0.0000
is_green       0.0000
Name: 0, dtype: float64

In [36]:
len(join)

273

In [43]:
wallet = 100
entradas = 0
acertos = 0
erros = 0
i=0

for i in range(len(join)):
    if((join.iloc[i]['is_entry'] == 1) & (join.iloc[i]['is_green'] == 1)):
        wallet = wall et*1.02
        entradas = entradas + 1
        acertos = acertos + 1
        print(str(i) + " - Wallet = $" + str(wallet))
    if((join.iloc[i]['is_entry'] == 1) & (join.iloc[i]['is_green'] == 0)):
        wallet = wallet*0.99
        entradas = entradas + 1
        erros = erros + 1
        print(str(i) + " - Wallet = $" + str(wallet))
    else:
        
        print(str(i) + " - No Entry")

0 - No Entry
1 - No Entry
2 - No Entry
3 - No Entry
4 - No Entry
5 - No Entry
6 - No Entry
7 - No Entry
8 - No Entry
9 - No Entry
10 - No Entry
11 - No Entry
12 - No Entry
13 - No Entry
14 - No Entry
15 - No Entry
16 - No Entry
17 - No Entry
18 - No Entry
19 - No Entry
20 - No Entry
21 - No Entry
22 - No Entry
23 - No Entry
24 - No Entry
25 - No Entry
26 - No Entry
27 - No Entry
28 - No Entry
29 - No Entry
30 - No Entry
31 - No Entry
32 - No Entry
33 - No Entry
34 - No Entry
35 - No Entry
36 - No Entry
37 - No Entry
38 - No Entry
39 - No Entry
40 - No Entry
41 - No Entry
42 - Wallet = $99.0
43 - No Entry
44 - No Entry
45 - No Entry
46 - No Entry
47 - No Entry
48 - No Entry
49 - No Entry
50 - No Entry
51 - No Entry
52 - No Entry
53 - No Entry
54 - No Entry
55 - Wallet = $98.01
56 - No Entry
57 - No Entry
58 - No Entry
59 - No Entry
60 - No Entry
61 - No Entry
62 - No Entry
63 - No Entry
64 - No Entry
65 - No Entry
66 - No Entry
67 - No Entry
68 - No Entry
69 - No Entry
70 - No Entry
71 - No Entry
72 - No Entry
73 - No Entry
74 - No Entry
75 - No Entry
76 - No Entry
77 - No Entry
78 - No Entry
79 - No Entry
80 - Wallet = $97.0299
81 - No Entry
82 - No Entry
83 - No Entry
84 - No Entry
85 - No Entry
86 - No Entry
87 - No Entry
88 - No Entry
89 - No Entry
90 - No Entry
91 - No Entry
92 - No Entry
93 - No Entry
94 - No Entry
95 - No Entry
96 - No Entry
97 - No Entry
98 - No Entry
99 - No Entry
100 - No Entry
101 - No Entry
102 - No Entry
103 - No Entry
104 - No Entry
105 - No Entry
106 - No Entry
107 - No Entry
108 - No Entry
109 - No Entry
110 - No Entry
111 - No Entry
112 - No Entry
113 - No Entry
114 - No Entry
115 - No Entry
116 - No Entry
117 - No Entry
118 - No Entry
119 - No Entry
120 - No Entry
121 - No Entry
122 - No Entry
123 - No Entry
124 - No Entry
125 - No Entry
126 - No Entry
127 - No Entry
128 - No Entry
129 - No Entry
130 - No Entry
131 - No Entry
132 - No Entry
133 - No Entry
134 - No Entry
135 - No Entry
136 - No Entry
137 - No Entry
138 - No Entry
139 - No Entry
140 - No Entry
141 - Wallet = $96.059601
142 - No Entry
143 - No Entry
144 - No Entry
145 - No Entry
146 - No Entry
147 - No Entry
148 - No Entry
149 - No Entry
150 - No Entry
151 - No Entry
152 - No Entry
153 - No Entry
154 - No Entry
155 - No Entry
156 - No Entry
157 - No Entry
158 - No Entry
159 - No Entry
160 - Wallet = $95.09900499
161 - No Entry
162 - No Entry
163 - No Entry
164 - No Entry
165 - No Entry
166 - No Entry
167 - No Entry
168 - No Entry
169 - No Entry
170 - No Entry
171 - No Entry
172 - No Entry
173 - No Entry
174 - No Entry
175 - No Entry
176 - No Entry
177 - No Entry
178 - No Entry
179 - No Entry
180 - No Entry
181 - No Entry
182 - No Entry
183 - No Entry
184 - No Entry
185 - No Entry
186 - No Entry
187 - No Entry
188 - No Entry
189 - No Entry
190 - No Entry
191 - Wallet = $94.1480149401
192 - No Entry
193 - Wallet = $93.206534790699
194 - No Entry
195 - No Entry
196 - No Entry
197 - No Entry
198 - No Entry
199 - No Entry
200 - No Entry
201 - No Entry
202 - No Entry
203 - No Entry
204 - Wallet = $92.27446944279201
205 - No Entry
206 - No Entry
207 - No Entry
208 - No Entry
209 - No Entry
210 - No Entry
211 - No Entry
212 - No Entry
213 - No Entry
214 - No Entry
215 - No Entry
216 - No Entry
217 - No Entry
218 - No Entry
219 - No Entry
220 - No Entry
221 - No Entry
222 - No Entry
223 - No Entry
224 - No Entry
225 - No Entry
226 - Wallet = $94.11995883164785
226 - No Entry
227 - No Entry
228 - No Entry
229 - No Entry
230 - No Entry
231 - No Entry
232 - No Entry
233 - No Entry
234 - No Entry
235 - No Entry
236 - No Entry
237 - No Entry
238 - No Entry
239 - No Entry
240 - No Entry
241 - No Entry
242 - No Entry
243 - No Entry
244 - No Entry
245 - No Entry
246 - No Entry
247 - No Entry
248 - No Entry
249 - No Entry
250 - No Entry
251 - No Entry
252 - No Entry
253 - No Entry
254 - No Entry
255 - No Entry
256 - No Entry
257 - No Entry
258 - No Entry
259 - No Entry
260 - No Entry
261 - No Entry
262 - No Entry
263 - No Entry
264 - No Entry
265 - No Entry
266 - No Entry
267 - No Entry
268 - No Entry
269 - No Entry
270 - No Entry
271 - No Entry
272 - No Entry